{% extends 'comapp/base.html' %}

{% block body_block %}

<script src="https://use.fontawesome.com/0a087d3bc2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" >

<style>
#std{
  display:none;
}
@media print{
body * {
  visibility:hidden;
}
#area * {
  visibility:visible;
}
#area{
  position:absolute;
  left:0;
  top:0;
}
#print>i{
  visibility:hidden;
}
#print{
  visibility:hidden;
}
}
tr{
border-bottom:0.1px solid gray;
}
</style>
<!-- <h1> INSERT AND DELETE</h1> -->
<center>
<div class = "container">

  <center><form method = "post">
    {% csrf_token %}
FROM = <input type="date"required>
  TO = <input type="date" required>

	<button type="submit" name="searchid" class="btn btn-success" style="margin:0px;"><i class="icon-search"></i> Statement</button>
    </form>
    </center>
</div>
<br><br><br><br>


<div class="container col-lg-4">
  <center>
    <form id="showinstinfo" method="post">
      {% csrf_token %}
    {% if info %}
    <table class="table table-hover">
 <tr>
   <th>DATE</th><th>DESCIPTION</th><th>DEBT</th><th>CREDIT</th><th>NET BALANCE</th>
   <tr>
     {% for data in info %}
    <td>{{data.from_date}}</td>
    <td>{{data.income_des}}</td>
    <td>{{data.expense_ammount}}</td>
    <td>{{data.income_ammount}}</td>
    <td>{{data.net_balance}}</td>

    </tr>
    {%endfor%}

<tr style="font-size:12px;"><td></td><td><b>Total</b></td><td><b  style="color:orangered;">{{data.expense_ammount}} Expense </b></td><td><b style="color:#3377cc;">{{data.income_ammount}} Collection </b></td><td><b  style="color:yellowgreen;">53/- Net Profit </b></td></tr>
</table>

    {%endif%}
     </form>
  </center>
</center>

{% endblock %}
