{% extends 'comapp/base.html' %}

{% block body_block %}


<!-- <h1> INSERT AND DELETE</h1> -->
<center>
  <h1>Add Expense:</h1>
  <br>
  <br>
  <br>
  <br>
  <div class="content" style="text-align:center;">
<form method="POST">
  {% csrf_token %}
<input type="date" name="expensedate" required>
<input type="text" name="expensedes" placeholder="Expense Description" required>
<input type="number" name="expenseamt" placeholder="Expense Amount" required><br>
<button type="submit" name="addexpense" class="submit btn btn-danger btn-lg" style="margin:20px;width:220px;">Submit</button>
</form>
    </center>
</div>
</center>

{% endblock %}
